---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
import "../css/generel.css";
import Artist from "../components/Artist.astro"

const data = await fetch(
  "https://pexwboaieovroxjkczsc.supabase.co/rest/v1/tutdata",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBleHdib2FpZW92cm94amtjenNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ1MDEwNzgsImV4cCI6MjAxMDA3NzA3OH0.6BHSqoC3DM7BXM7_X4Syq5W3u_U5MKO7EPClIkefExs",
    },
  }
).then((res) => res.json());
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo_tut_sort.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>artists</title>
	</head>
    <body>

<MainLayout>
	<h1>ARTISTS</h1>
  <section class="artists">
    {
      data.map((artist) => {
        return <Artist data={artist} />;
      })
    }
        <div class="bigimg">
      <img src="../../public/tatto_show.webp" alt="show">
    </div>
  </section>
    </MainLayout>


	</body>
</html>
<style>
@import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);

.bigimg {
  width: 70%;
  margin-left: auto;
  margin-top: 100px;
  grid-column: 3;
  grid-row: 2;
}
@media screen and (min-width: 620px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.bigimg {
  width: 100%;
  margin-top: 200px;
  grid-column: 3;
  grid-row: 2;
}
}
</style>