---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
import "../css/generel.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_tyt.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
                 <meta name="description" content="Book a tattoo appointment with our skilled artists. Schedule consultations and reserve your spot for custom designs.">
    <title>Booking - THANK YOU TATTOO</title>
  </head>
  <body>
    <MainLayout>
      <h1>BOOKING</h1>
      <div>
        <img
          class="reg_img"
          src="/reg.webp"
          alt="billede af registrerings formular"
        />
      </div>
      <h2>FILL OUT THE FORM</h2>
      <form>
        <label for="fullname">FULL NAME:</label>
        <br />
        <input type="text" id="fname" name="fname" />
        <br />
        <br />
        <label for="email">E-MAIL:</label>
        <br />
        <input type="text" id="email" name="email" />
        <br />
        <br />
        <label for="phonenumber">PHONE NUMBER:</label>
        <br />
        <input type="text" id="phonenumber" name="phonenumber" />
        <br />
        <br />
        <label for="artist"
          >CHOOSE ARTIST:
          <br />
        </label>
        <select id="chooseartist" name="chooseartist">
          <option value="mikkel">Mikkel</option>
          <option value="Jacob">Jakob</option>
          <option value="Anthon">Anthon</option>
          <option value="Mathilde">Mathilde</option>
        </select>
        <br />
        <br />
        <label for="tattooidea"
          >WRITE A SHORT DESCRIPTION OF YOUR TATTOO-IDEA:</label
        >

        <textarea id="tattooidea" name="tattooidea" rows="4" cols="50"
        ></textarea>

        <br />
        <br />
        <label for="placement"
          >WRITE A SHORT DESCRIPTION OF SIZE AND PLACEMENT:</label
        >
        <textarea id="placement" name="placement" rows="4" cols="50"></textarea>
        <br />
        <br />
        <label for="foto-upload">UPLOAD AN IMAGE:</label>
        <br />

        <input type="file" id="foto-upload" name="foto" accept="image/*" />
        <br />
        <br />
        <br />
        <input type="submit" class="submitknap" value="SUBMIT" />
        <br />
      </form>

      <br />
      <br />
      <br />
      <div>
        <img
          class="insta_img"
          src="/insta.webp"
          alt="billede af thank you tattoos instagram"
        />
      </div>
      <br />
      <br />
      <br />
      <br />
    </MainLayout>
  </body>
</html>
<style>
  @import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  /* FORM */
  label {
    font-family: var(--subheader-font);
    color:var(--hvid);
  }
  input[type="text"],
  select,
  option,
  textarea {
    font-family: var(--subheader-font);
    color: var(--sort);
    width: 100%;
    border: none;
  }
  input[type="submit"] {
    font-family: var(--subheader-font);
    color: var(--sort);
  }
  form {
    text-align: left;
    padding: 3%;
  }

  .submitknap {
    border: 1.5px solid var(--sølv);
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 22px;
    font-family: var(--subheader-font);
  }
  .submitknap:hover {
    border: 1.5px solid var(--guld);
    background-color: var(--baggrund);
  }
  input {
    color: var(--sort);
  }

  input:hover {
    color: var(--guld);
  }
  /* BILLEDER */
  .reg_img,
  .insta_img {
    max-height: 300px;
    width: 100%;
    height: auto;
  }
  /* DESKTOP */
  @media screen and (min-width: 620px) {
    form {
      text-align: left;
      padding-left: 25%;
      padding-right: 25%;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
  }
</style>
