---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
import "../css/generel.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>contact</title>
	</head>
    
	<body>
    <MainLayout>
        <h2>CONTACT</h2>
        <img src="/udenfor.webp" alt="billede af butikken udefra">
        

</MainLayout>
	</body>
    
</html>
<style>
@import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);
h2{
    margin-left: 10px;
}
</style>