---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
import "../css/generel.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon_tyt.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
                <meta name="description" content="Contact us for inquiries, support, or collaborations. We are here to assist you. Reach out via our socials or phone for any questions or feedback.">

		<title>Contact - THANK YOU TATTOO</title>
	</head>
    
	<body>
    <MainLayout>
        <h1>CONTACT</h1>
        <div  class="top_billede_lille">
        <img src="/udenfor.webp" alt="billede af butikken udefra">
        </div>
        <div class="top_billede_stor">
        <img src="/udenfor_stor.webp" alt="billede af butikken udenfra i størrre udgave">
        </div>
        <h2 class="underoverskrift">FIND US</h2>
        <section class="box">
                <ul class="grid2">
                    <li>Oehlenschlægersgade 41 <br>
                        1663 Copenhagen V</li>
                <li class="farve">+4560181663</li>
                <br><br>
                <li class="grid1_3">
                <a href="https://www.instagram.com/thankyoutattoo/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img src="/instasvg.svg" alt="insta svg"></a></div>
                <div><a href="https://www.facebook.com/thankyoutattoo" target="_blank"><img src="/facebook.svg" alt="facebook icon"></a></div>
                <div class="str"><img src="/tiktoksvg.svg" alt="tiktok svg"></div>
            </li>
        </ul>
            <ul class="grid1">
                <li>Monday - friday: 12.00 - 18.00</li>
                <li>Saturday: 12.00 - 16.00</li>
                <li>Sunday: Closed</li>
            </ul>

                <div class="grid1_1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.144118924811!2d12.547520176876251!3d55.66909397305337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253758e1e182d%3A0xf301565ddbb63d64!2sOehlenschl%C3%A6gersgade%2041%2C%201663%20K%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1702650154474!5m2!1sda!2sdk" width="650" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        </section>
</MainLayout>
	</body>
    
</html>
<style>
@import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);

section {
    display: flex;
    flex-direction: column;
}

iframe {
width: 100%;
position: relative;
}

/** icons **/
.grid1_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 35%;
    margin-top: -25px;
}

/** Billeder i toppen **/
.top_billede_lille{
    display: none;
}

/*****/
ul{
    list-style: none;
    padding: 0;
}
li{
    color: white;
    font-family: "Inconsolata", monospace;
    font-size: 1.3rem;
}
li a{
    color: #ffff;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
}
.farve{
    color: #ECC470;
}
.str{
    width: 90%;
}
.underoverskrift{
    font-size: 3rem;
    display: flex;
    justify-content: left;
}

  @media screen and (min-width: 620px){
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    iframe {
        filter: grayscale();
        width: 100%;
height: 100%;
padding-bottom: 8%;
position: relative;
    }

    iframe:hover {
        filter: none;
        transition: filter 0.5s ease;
    }
.grid1_1{
    grid-column: 1 / span 2;
    grid-row: 2;
}
.grid2 {
    grid-row: 1;
    margin-left: auto;
}
.grid1_3{
     width: 30%;
}
li{
    font-size: 1.7rem;
}
li a{
    font-size: 1.5rem;
}
.str{
    width: 90%;
}
ul{
list-style: none;
margin: 0;
}
.top_billede_stor{
    display: none;
}
.top_billede_lille{
    display: inline;
}

.underoverskrift{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
  }
</style>