---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
import "../css/generel.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>contact</title>
	</head>
    
	<body>
    <MainLayout>
        <h1>CONTACT</h1>
        <img src="/udenfor.webp" alt="billede af butikken udefra">
        <div class="box">
        <h1>FIND US</h1>
        <div class="grid1_1">
        <div>
            <div>
            </div>
        <ul>
                <li class="farve">+4560181663</li>
                <br><br>
                <li class="grid1_3">
                    <div>
                <a href="https://www.instagram.com/thankyoutattoo/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img src="/instasvg.svg" alt="insta svg"></a></div>
                <div><a href="https://www.facebook.com/thankyoutattoo" target="_blank"><img src="/facebook.svg" alt="facebook icon"></a></div>
                <div class="str"><img src="/tiktoksvg.svg" alt="tiktok svg"></div>
            </li>
            <br><br>
                
                <li>Oehlenschlægersgade 41 <br>
1663 Copenhagen V</li>
        </ul>
        </div>
        <div>
            <ul>
                <li>Monday - friday: <br> 12.00 - 18.00</li>
                <br><br>
                <li>Saturday: <br>12.00 - 16.00</li>
                <br><br>
                <li>Sunday: <br>closed</li>
            </ul>
        </div>
        </div>
        </div>
</MainLayout>
	</body>
    
</html>
<style>
@import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);
h2{
    margin-left: 10px;
}
/** icons **/
.grid1_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    width: 45%;
    margin-top: -25px;
}

/****/
.box{
    margin: 70px;
}
.grid1_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

ul{
    list-style: none;
    margin-top: 82px;
}
li{
    color: white;
    font-family: "Inconsolata", monospace;
    font-size: 1.7rem;
}
li a{
    color: #ffff;
    font-family: "Inconsolata", monospace;
    font-size: 1.5rem;
}
.farve{
    color: #ECC470;
}
.str{
    width: 90%;
}
</style>