---
import MainLayout from "../components//MainLayout.astro";
import ButtonIndex from "../components/ButtonIndex.astro";
import "../css/generel.css";
import Artist from "../components/Artist.astro"

const data = await fetch(
  "https://pexwboaieovroxjkczsc.supabase.co/rest/v1/tutdata",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBleHdib2FpZW92cm94amtjenNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ1MDEwNzgsImV4cCI6MjAxMDA3NzA3OH0.6BHSqoC3DM7BXM7_X4Syq5W3u_U5MKO7EPClIkefExs",
    },
  }
).then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_tyt.svg"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	    <meta name="robots" content="noindex">
        <meta name="description" content="Discover Thank You Tattoo, an established tattoo parlor in central Copenhagen. We are a brand that values tradition, artistry, and a friendly atmosphere.">
    <link
      href="https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript"
      rel="stylesheet"
    />
    <title>THANK YOU TATTOO - COPENHAGEN</title>
  </head>
  <body>
    <MainLayout>
		  <div class="grid1">
			<div>
      <h1>THANK YOU <br> TATTOO</h1>
	  </div>
	  <div class="svg fade_in">
	  <img src="/drage.svg" alt="logo">
	  </div>
	  </div>
	  <section class="grid1_1">
        <div>
          <h2 class="text_1" >BOOK YOUR APPOINTMENT NOW</h2>
          <h3 class="text_2">
            Visit us in the store and have a personal chat <br>about your future
            tattoo ideas or book an appointment now.
          </h3>
		  <ButtonIndex id="booknow" ButtonTitle1="BOOK NOW" ButtonLink="/booknow/"/>
		  <h3>View our gallery of tattoos on our insta which is continuously updated.</h3>
		  <div class="grid1_3">
			<div class="image_container">
			<img class="img" src="/tat_2.webp" alt="billede af en tattoo"></a>
			<div class="overlay">
				<a href="https://www.instagram.com/thankyoutattoo/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img class="icon" src="/instasvg.svg" alt="insta svg" /></a>
			</div>
			</div>
			<div class="image_container">
			<img class="img" src="/tat_1.webp" alt="billede af en tattoo"></a>
			<div class="overlay">
				<a href="https://www.instagram.com/thankyoutattoo/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img class="icon" src="/instasvg.svg" alt="insta svg" /></a>
			</div>
			</div>
			<div class="image_container">
			<img class="img" src="/tat_3.webp" alt="billede af en tattoo"></a>
			<div class="overlay">
				<a href="https://www.instagram.com/thankyoutattoo/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img class="icon" src="/instasvg.svg" alt="insta svg" /></a></div>
			</div>
		  </div>
        </div>
        <div class="order">
          <img
            class="front_img"
            src="/front.webp"
            alt="billede af fronten på thank you tattoo"
          />
        </div>
	  </section>
      <h2>ARTISTS</h2>
        <section class="artists">
    {
      data.map((artist) => {
        return <Artist data={artist} />;
      })
    }
    </div>
  </section>
    </MainLayout>
  </body>
</html>
<style>
@import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);

  /* BILLEDER */
  .front_img {
    width: 100%;
    margin: 0;
	
  }
   .grid1_1 {
      display: grid;
	  gap:65px;
	  margin-bottom:100px;
    }
 .order{
	order:-2;
  }
.img{
  filter: grayscale();
  max-width: 100%;
}
.grid1_3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:10px;
}
/***** Billeder overlay *****/
 .image_container {
  width: auto; 
  position: relative;
  display: inline-block; /* sikre, at containeren holder størrelsen af billedet */
}

.image_container img {
  width: auto;
  height: auto;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.overlay .icon {
width: 350%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.icon{
	display: flex;
  justify-content: center;
  align-items: center;
}

.image_container:hover .overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.image_container:hover .overlay .icon {
  opacity: 1;
}

  /*** Text ***/
  h1{
	font-family: var(--header-font);
  }
  h2{
	margin-bottom: 30px;
	margin-top: 50px;
  }
  h3{
	margin-top: 24px;
  }
  .text_1{
	margin-left: 7px;
	font-size: 1.9rem;
	margin-top: 0;
  }
  .text_2{
margin-left: 7px;
	font-size: 1rem;
	margin-top: 0;
  }
  /*** SVG ***/
  
 .svg{
	display: none;
 }
 
 .fade_in {
  animation-name: fade_in_kf;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/*****/

@keyframes fade_in_kf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  @media screen and (min-width: 620px) {
    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
	 .order{
	order:1;
  }
  h1{
	font-size: 5.5rem;
margin-bottom: 100px;
  }
    .text_1{
	font-size: 2.5rem;
  }
  .text_2{
	font-size: 1.2rem;
  }
  .grid1{
	display: flex;
	justify-content: space-between;
 }
 h3{
	font-size: 1.2rem;
  }
  /*** SVG ***/
  
 .svg{
	opacity: 65%;
	width:60%;
	padding-bottom: 150px;
	rotate: -7deg;
	display: inline;
 }

 .artists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
 }
 .front_img{
	margin-bottom: 25px;
 }
  }
</style>
