---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Forside</title>
	</head>
	<body>
		<MainLayout>
<h1>THANK YOU TATTOO</h1>
<div class="grid1_1">
	<div >
		<h2>BOOK YOUR APPOINTMENT NOW</h2>
	</div>
	<div>
<img class="front_img" src="/front.webp" alt="billede af fronten på thank you tattoo">
</div>
</div>
<h2>ARTISTS</h2>
		</MainLayout>
	</body>
</html>
<style>
	
	/* BILLEDER */
	.front_img{
		width: 100%;
		margin: 0;
	}
	
	 @media screen and (min-width: 620px){
		.grid1_1{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	 }

</style>