---
const { ButtonLink, ButtonTitle1 } = Astro.props;
---

<a class="booknow border" href={ButtonLink}><button>{ButtonTitle1}</button></a>

<style>
  button {
    all: unset;
    margin-top: 10px;
  }
  .booknow {
    border: 1.5px solid var(--hvid);
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 22px;
    margin-left: 7px;
    font-family: var(--subheader-font);
  }
  .border:hover {
    border: 1.5px solid var(--guld);
    background-color: var(--baggrund);
  }
  a {
    color: var(--hvid);
  }
  a:hover {
    color: var(--guld);
  }
</style>
