---
const { ButtonLink, ButtonTitle1 } = Astro.props;
---

<a class="booknow border" href={ButtonLink}><button>{ButtonTitle1}</button></a>

<style>
  button {
    all: unset;
    margin-top: 10px;
  }
  .booknow {
    border: 1.5px solid#c5c5c5;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 22px;
    margin-left: 7px;
    font-family: "Inconsolata", monospace;
  }
  .border:hover {
    border: 1.5px solid#ecc470;
    background-color: #101010;
  }
  a {
    color: #c5c5c5;
  }
  a:hover {
    color: #ecc470;
  }
</style>
