---
const { ButtonLink, ButtonTitle, id } = Astro.props;
---

<a class="booknow border" href={ButtonLink}><button id={id}>{ButtonTitle}</button></a>

<style>
  button {
    all: unset;
  }
  .booknow {
    background-color: var(--hvid);
    color: var(--baggrund);
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    font-family: var(--subheader-font);
    margin-top: -10px;
  }
  .border:hover {
    background-color: var(--guld);
  }
  .fill {
    background-color:var(--guld);
  }
  a:hover {
    color: var(--baggrund);
  }
  @media screen and (min-width: 800px) {
    .booknow {
      padding: 7px;
      padding-left: 9px;
      padding-right: 9px;
      font-size: 22px;
    }
  }
</style>

<script>
  var currentPath = window.location.pathname;

  // får fat i linksne ved deres ID
  var page1Link = document.querySelector("artists");
  var page2Link = document.querySelector("contact");
  var page3Link = document.querySelector(".booknow");

    if (currentPath === "/booknow/") {
    page3Link.classList.add("fill");
  }
</script>