---
import TopNavigation from "../components/TopNavigation.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
import Button from "./ButtonNav.astro";
import "../css/generel.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_tyt.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Corinthia:wght@400;700&family=Cutive+Mono&family=Ephesis&family=Inconsolata&family=Kalam&family=Open+Sans&family=Permanent+Marker&family=Rajdhani&family=Rye&family=Sora&family=Sriracha&family=Tulpen+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <TopNavigation />
    <main>
      <slot />
    </main>
    <BottomNavigation />
  </body>
</html>
<style>
  
    
</style>