/******* LAYOUT ********/
main {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  background-color: #101010;
}

/******** FONTS *********/
a {
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  color: #c5c5c5;
  font-size: 1.2rem;
  transition: text-decoration 0.3s ease;
}

h2,
h3,
h4,
p {
  font-family: "Inconsolata", monospace;
  color: #c5c5c5;
}

/********** IMG **********/

img {
  width: 100%;
  height: auto;
  display: block;
}

/********** Font, signpainter **********/
@import url(https://db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript);
